{% extends "base.html" %}
{% block title%}About{% endblock %}
{% block aboutactive %}active{% endblock %}
{% block content%}

<div>
  <p class="heading">Personal Info</p><br>
  <p class="sub-heading">Get to know more about me</p>
</div>
<div class="main_abt">
    <div class="about_info container">
        <span class="head">Hello !</span>
        <p>My name is Rahul R and I'm a passionate Full Stack Web Developer using web technologies to build amazing products and 
            focusing on solving problems for different niches and different using the power of technology.
        </p>
        <p>
            I will love to hear from you, Whether it's a Project, Job opportunity, or just a chat. Feel free to contact me.
        </p>
        <div class="aboutbtn">
            <a class="button-86" href="/contact">
                Contact Me
            </a>
        </div>

    </div>
    <div class="skills container">
        <p class="head">Skills :</p>
        
         <div class="skill_list shadow">

             <span>Python</span>
             <span>Django</span>
             <span>HTML</span>
             <span>CSS</span>
             <span>BootStrap</span><br><br><br>
             <span>JavaScript</span>
             <span> C </span>
             <span>C++</span>
             <span>Unity Engine</span>
             
            </div>
         
    </div>
</div>

{% endblock %}