{% extends 'base.html' %}
{% load static %}
{% block title%}Home{% endblock %}
{% block homeactive %}active{% endblock %}
{% block content %}


<div class=" piccontainer">
    <div class="textcontainer">
        <h1 class="h1text">
            Hi There,<br><h2 class="name">I'm  &nbsp;<h class="h">Rahul R</h></h2>
        </h1><br>
        <h3 class="h1text">
           I Am into Full stack   &nbsp; <b class="w">Web Development !</b>
        </h3>

        <div class="aboutbtn" >
            <a class="button-85" href="/about">
                About Me
            </a>
        </div>
        <div class="social">
            <a  href="https://www.facebook.com/rahulsquads" target="_blank"  ><img src="{% static 'img/fb.png' %}" width="25%"></a>
            <a  href="https://instagram.com/r.a.h.u.l__________r?utm_medium=copy_link" target="_blank" ><img src="{% static 'img/ig.png' %}" width="25%"></a>
            <a   href="" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/lin.png' %}" width="25%"></a>
            <a   href="https://twitter.com/RahulSquads?t=xVzp0BRzi2AFbj6XWqADuw&s=09" target="_blank"  ><img src="{% static 'img/tw.png' %}" width="25%"></a>
            
        </div>
    </div>
    <img class="pic" src="{% static 'img/Rahul.png' %}" alt="">
</div>


{% endblock %}