{% extends "base.html" %}
{% block title%}Projects{% endblock %}
{% block projectsactive %}active{% endblock %}
{% block content %}

<div>
    <p class="heading">Latest Projects</p><br>
    <p class="sub-heading">Here you can find some of the projects that I created recently </p>
</div>

<div class="container scroll  px-5">
    <div class="project-item">
        <div class="card" style="width: 18rem;">
            <img src="static/img/Portfolio.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Portfolio</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Todo-List</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CRUD-API</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
        </div>
    </div>
    <div class="project-item">
        <div class="card" style="width: 18rem;">
            <img src=" " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Internship Management System</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ColorsColors---tkinder</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The-Treasure-Hunt</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}