<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/cards.css"
    />
  </head>
  <body >
    <div class="card">
        <div class="screenshot">
            <img src="../static/img/portfolio.png">
        </div>
        <div class="content">
            <div class="details">
                <h2>Portfolio</h2>
                <div class="lang">
                    <h2>Languages</h2>
                </div>
                <div class="data">
                    <span>python</span>
                    <span>python</span><br><br>
                    <span>python</span>
                    <span>python</span>
                </div>
                <a href="#" class="btn btn-primary">View source</a>
            </div>
            
        </div>
    </div>
  </body>
</html>
